
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.i.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.i.lref
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.i.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.i.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.i.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.i.cache
ShipContentManager/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
.vs/ShipContentManager/v16/.suo
.vs/ShipContentManager/v16/.suo
Shared_ShipContentManager/bin/Debug/netcoreapp3.1/Shared_ShipContentManager.deps.json
.vs/ShipContentManager/v16/.suo
Shared_ShipContentManager/obj/Debug/netcoreapp3.1/Shared_ShipContentManager.AssemblyInfo.cs
.vs/ShipContentManager/v16/.suo
Shared_ShipContentManager/obj/Debug/netcoreapp3.1/Shared_ShipContentManager.AssemblyInfoInputs.cache
