
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.i.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.i.lref
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.i.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.i.cache
