
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.i.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.i.lref
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.i.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.i.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.i.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.i.cache
ShipContentManager/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
ShipContentManager/obj/Debug/netcoreapp3.1/CreateQuestionWindow.g.cs
ShipContentManager/obj/Debug/netcoreapp3.1/CreateQuestionWindow.g.cs
ShipContentManager/obj/Debug/netcoreapp3.1/CreateQuestionWindow.baml
ShipContentManager/obj/Debug/netcoreapp3.1/CreateQuestionWindow.g.cs
ShipContentManager/obj/Debug/netcoreapp3.1/MainWindow.baml
ShipContentManager/obj/Debug/netcoreapp3.1/MainWindow.g.cs
ShipContentManager/obj/Debug/netcoreapp3.1/PacksUserControl.baml
ShipContentManager/obj/Debug/netcoreapp3.1/PacksUserControl.g.cs
.vs/slnx.sqlite
.vs/ProjectSettings.json
ShipContentManager/obj/Debug/netcoreapp3.1/CreateQuestionWindow.g.cs
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.lref
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_r0wosys0_wpftmp.AssemblyInfo.cs
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_r0wosys0_wpftmp.AssemblyInfoInputs.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_r0wosys0_wpftmp.assets.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_r0wosys0_wpftmp.csprojAssemblyReference.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_r0wosys0_wpftmp_MarkupCompile.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_r0wosys0_wpftmp_MarkupCompile.lref
ShipContentManager/obj/project.assets.json
ShipContentManager/obj/project.nuget.cache
ShipContentManager/obj/Release/netcoreapp3.1/App.g.cs
ShipContentManager/obj/Release/netcoreapp3.1/CreateQuestionWindow.g.cs
ShipContentManager/obj/Release/netcoreapp3.1/MainWindow.g.cs
ShipContentManager/obj/Release/netcoreapp3.1/PacksUserControl.g.cs
ShipContentManager/obj/Release/netcoreapp3.1/QuestionsUserControl.g.cs
ShipContentManager/obj/Release/netcoreapp3.1/ShipContentManager.assets.cache
ShipContentManager/obj/Release/netcoreapp3.1/ShipContentManager_MarkupCompile.cache
ShipContentManager/obj/Release/netcoreapp3.1/ShipContentManager_MarkupCompile.lref
ShipContentManager/obj/ShipContentManager.csproj.nuget.dgspec.json
ShipContentManager/obj
ShipContentManager/Debug
ShipContentManager/obj/Debug
ShipContentManager/obj/Debug/.vs
.vs/ShipContentManager/v16/.suo
.vs/ShipContentManager/v16/.suo
Shared_ShipContentManager/bin/Debug/netcoreapp3.1/Shared_ShipContentManager.deps.json
Shared_ShipContentManager/bin/Debug/netcoreapp3.1/Shared_ShipContentManager.dll
Shared_ShipContentManager/bin/Debug/netcoreapp3.1/Shared_ShipContentManager.pdb
Shared_ShipContentManager/obj/Debug/netcoreapp3.1/Shared_ShipContentManager.assets.cache
Shared_ShipContentManager/obj/Debug/netcoreapp3.1/Shared_ShipContentManager.csproj.CoreCompileInputs.cache
Shared_ShipContentManager/obj/Debug/netcoreapp3.1/Shared_ShipContentManager.csprojAssemblyReference.cache
Shared_ShipContentManager/obj/Debug/netcoreapp3.1/Shared_ShipContentManager.dll
Shared_ShipContentManager/obj/Debug/netcoreapp3.1/Shared_ShipContentManager.pdb
Shared_ShipContentManager/obj/project.assets.json
Shared_ShipContentManager/obj/project.nuget.cache
Shared_ShipContentManager/obj/Shared_ShipContentManager.csproj.nuget.dgspec.json
Shared_ShipContentManager/obj/Shared_ShipContentManager.csproj.nuget.g.props
ShipContentManager/bin/Debug/netcoreapp3.1/Shared_ShipContentManager.dll
ShipContentManager/bin/Debug/netcoreapp3.1/Shared_ShipContentManager.pdb
ShipContentManager/bin/Debug/netcoreapp3.1/ShipContentManager.deps.json
ShipContentManager/bin/Debug/netcoreapp3.1/ShipContentManager.dll
ShipContentManager/bin/Debug/netcoreapp3.1/ShipContentManager.pdb
ShipContentManager/bin/Debug/netcoreapp3.1/ShipContentManager.runtimeconfig.dev.json
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager.assets.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager.csproj.CoreCompileInputs.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager.csproj.FileListAbsolute.txt
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager.csprojAssemblyReference.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager.dll
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager.pdb
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.lref
ShipContentManager/obj/project.assets.json
ShipContentManager/obj/project.nuget.cache
ShipContentManager/obj/ShipContentManager.csproj.nuget.dgspec.json
ShipContentManager/obj/ShipContentManager.csproj.nuget.g.props
.vs/ShipContentManager/v16/.suo
Shared_ShipContentManager/bin/Debug/netcoreapp3.1/Shared_ShipContentManager.deps.json
Shared_ShipContentManager/bin/Debug/netcoreapp3.1/Shared_ShipContentManager.dll
Shared_ShipContentManager/bin/Debug/netcoreapp3.1/Shared_ShipContentManager.pdb
Shared_ShipContentManager/obj/Debug/netcoreapp3.1/Shared_ShipContentManager.assets.cache
Shared_ShipContentManager/obj/Debug/netcoreapp3.1/Shared_ShipContentManager.csproj.CoreCompileInputs.cache
Shared_ShipContentManager/obj/Debug/netcoreapp3.1/Shared_ShipContentManager.dll
Shared_ShipContentManager/obj/Debug/netcoreapp3.1/Shared_ShipContentManager.pdb
Shared_ShipContentManager/obj/project.assets.json
Shared_ShipContentManager/obj/project.nuget.cache
Shared_ShipContentManager/obj/Shared_ShipContentManager.csproj.nuget.dgspec.json
Shared_ShipContentManager/obj/Shared_ShipContentManager.csproj.nuget.g.props
ShipContentManager/bin/Debug/netcoreapp3.1/Shared_ShipContentManager.dll
ShipContentManager/bin/Debug/netcoreapp3.1/Shared_ShipContentManager.pdb
ShipContentManager/bin/Debug/netcoreapp3.1/ShipContentManager.deps.json
ShipContentManager/bin/Debug/netcoreapp3.1/ShipContentManager.dll
ShipContentManager/bin/Debug/netcoreapp3.1/ShipContentManager.pdb
ShipContentManager/bin/Debug/netcoreapp3.1/ShipContentManager.runtimeconfig.dev.json
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager.assets.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager.csproj.CoreCompileInputs.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager.csproj.FileListAbsolute.txt
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager.csprojAssemblyReference.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager.dll
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager.pdb
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.cache
ShipContentManager/obj/Debug/netcoreapp3.1/ShipContentManager_MarkupCompile.lref
ShipContentManager/obj/project.assets.json
ShipContentManager/obj/project.nuget.cache
ShipContentManager/obj/ShipContentManager.csproj.nuget.dgspec.json
ShipContentManager/obj/ShipContentManager.csproj.nuget.g.props
ShipContentManager/obj/project.nuget.cache
